@use "../../variables.module.scss" as *;

.navigateAppContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10%;
}

.navigateAppMainTitle {
  font-family: $subTitle !important;
  font-size: 40px !important;
  color: $light-blue;
  text-align: center;
}

.tabButton {
  background-color: white !important;
  box-shadow: inset 0px 0px 1px 0px !important;
  min-width: 0 !important;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20% !important;
}

.selectedTab {
  background-color: $gold !important;
}

.reasonTitle {
  font-family: $subTitle !important;
  color: $dark-blue !important;
  font-size: 26px !important;
  font-weight: bold !important;
  white-space: nowrap;
}

.description {
  font-family: $subTitle !important;
  color: black !important;
  font-size: 22px !important;
  flex-grow: 1;
  max-width: 100%;
}

.cardContainer {
  background-color: $gold !important;
  padding-left: 5%;
  border-radius: 10px !important;
  margin-top: -4px;
}
