@use "../../variables.module.scss" as *;

.header {
  background-color: #0d2740;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  position: sticky;
  justify-content: center;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.countdown {
  display: flex;
  gap: 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
}

.countdownItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdownValue {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px 10px;
  border-radius: 4px;
  min-width: 40px;
  display: inline-block;
  text-align: center;
}

.countdownLabel {
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 0.2rem;
}

.expiredNotice {
  margin-left: 15px;
  padding: 5px 12px;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.2);
  font-weight: bold;

  p {
    margin: 0;
  }
}

.welcomeMessageBackground {
  background-color: #2196f3 !important;
  width: 100%;
}

.welcomeMessageContainer {
  display: grid;
  max-width: 1540px;
  margin: 0 auto;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
}

.welcomeMessage {
  font-family: $subTitle !important;
  font-size: 1.5em !important;
  text-align: center;
}
