@use "../../variables.module.scss" as *;

.linkMT4AccContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  flex-wrap: wrap;
}

.linkMT4AccTitle {
  font-family: $subTitle !important;
  color: $light-blue;
}

.swiperContainer {
  position: relative;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.cardContainer {
  width: 100%;
  height: 500px;
  background-color: transparent !important;
  border-radius: 25px !important;
  border: 1px solid $orange;
  padding: 4px !important;
  text-align: center;
  font-family: $subTitle !important;
  color: white !important;
  position: relative;
  overflow: hidden;
}

.arrowOverlay {
  position: absolute;
  top: 50%;
  right: -65px;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none;
}

.arrowImage {
  width: 120px;
  height: 120px;
}
