@use "../../variables.module.scss" as *;

.heroSection {
  display: flex;
  background: $background-color;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10%;

  @media (max-width: 1200px) {
    flex-direction: column;
    padding-bottom: 45%;
  }
}

.imageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.handImage {
  width: 100%;
  height: auto;
  min-width: 800px;
  display: block;
  margin-left: -150px;
  transform: scale(1.5) translate(-15%, 10%);

  @media (max-width: 1200px) {
    transform: scale(1.5);
    padding-top: 5%;
    min-width: 0;
    max-width: 600px;
  }
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 5em;
  position: relative;
}

.hideOnMobile {
  @media (max-width: 1200px) {
    display: none;
  }
}

.showOnMobile {
  display: none;

  @media (max-width: 1200px) {
    display: block;
    position: relative;
    z-index: 1;
  }
}

.heroTitle {
  font-family: $mainTitle !important;
  color: $light-blue;
}

.heroSubTitle {
  font-family: $subTitle !important;
  color: $light-blue;
  margin-bottom: 10px;
  text-align: left !important;
  justify-content: left !important;
}

.heroSubTitle2 {
  font-family: $subTitle !important;
  color: $gold;
  margin-bottom: 10px !important;
  text-align: left !important;
  justify-content: left !important;
}

.description {
  font-family: $subTitle !important;
}

.overlapContent {
  @media (max-width: 1200px) {
    position: absolute;
    top: 72%;
    z-index: 2;
    justify-items: flex-end;
    align-self: flex-end;
    max-width: 60%;
  }
}
