@use "../../variables.module.scss" as *;

.heroSection {
  display: flex;
  background: $background-color;
  flex-direction: row;
  gap: 150px;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 3em;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.imageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.handImage {
  width: 100vw;
  height: auto;
  max-width: 800px;
  display: block;
  margin-left: -150px;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 8em;
}

.hideOnMobile {
  @media (max-width: 1200px) {
    display: none;
  }
}

.showOnMobile {
  display: none;

  @media (max-width: 1200px) {
    display: block;
    position: relative;
    z-index: 1;
  }
}

.heroTitle {
  font-family: $mainTitle !important;
  font-size: 60px !important;
  color: $light-blue;
  text-align: center;
  justify-content: left;
}

.heroSubTitle {
  font-family: $subTitle !important;
  color: $light-blue;
  font-weight: bold !important;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: left;
  justify-content: left;
}

.heroSubTitle2 {
  font-family: $subTitle !important;
  color: $gold;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: left;
  justify-content: left;
}

.description {
  font-family: $subTitle !important;
  color: white;
  text-align: left;
  justify-content: left;
}

.overlapContent {
  @media (max-width: 1200px) {
    position: relative;
    top: -25em;
    z-index: 2;
    padding: 1rem;
    margin-top: -45px;
    justify-items: flex-end;
    align-self: flex-end;

    max-width: 50%;
    margin-bottom: -25em;
  }
}
