@use "../../variables.module.scss" as *;

.easyAnalysisContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  // max-width: 1400px;
  // overflow: hidden;
}

.easyAnalysisTitle {
  font-family: $subTitle !important;
  color: $light-blue;
}

.description {
  font-family: $subTitle !important;
  color: $gold !important;
  max-width: 1000px;
}

.phoneContainer {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 3em auto;
  height: 650px;
  justify-content: center;
  align-items: center;
}

.phoneImage {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.functionCard {
  position: absolute;
  width: 250px;
  // width: 80%;
  background-color: transparent !important;
  box-shadow: none !important;
}

.functionCard1 {
  top: -5%;
  left: -20%;
}

.functionCard2 {
  top: 18%;
  right: -15%;
}

.functionCard3 {
  top: 35%;
  left: -20%;
}

.functionCard4 {
  bottom: 20%;
  right: -15%;
}

.functionCard5 {
  bottom: -5%;
  left: -20%;
}
